# Unity
*.meta binary
*.unity binary
*.asset binary
*.prefab binary

# Text files
*.txt text
*.cs text diff=csharp
*.shader text
*.cginc text
*.json text
*.xml text
*.md text

# Images
*.png binary
*.jpg binary
*.jpeg binary
*.tga binary
*.bmp binary
*.psd binary
*.gif binary
*.tif binary
*.tiff binary
*.exr binary
*.hdr binary
*.ico binary

# Audio
*.mp3 binary
*.ogg binary
*.wav binary
*.aif binary
*.aiff binary
*.mod binary
*.it binary
*.s3m binary

# Models
*.fbx binary
*.obj binary
*.dae binary
*.3ds binary
*.dxf binary
*.max binary
*.blend binary
*.mb binary
*.ma binary
*.c4d binary
*.lxo binary
*.abc binary

# Archives
*.zip binary
*.rar binary
*.7z binary
*.gz binary
*.tar binary
